In [10]:
import pandas as pd
import os

In [11]:
DATA_PATH = '../data/'

In [12]:
os.path.exists(os.path.join(DATA_PATH, 'data.csv'))

True

In [13]:
df = pd.read_csv(os.path.join(DATA_PATH, 'data.csv'), sep=',')

In [14]:
df.head()

,NAME,CONTINENT,INTRODUCTION,UNDERSTAND,GET_IN,SEE,DO,BUY,EAT,DRINK,SLEEP,STAY_SAFE,GO_NEXT
0,NAME,CONTINENT,INTRODUCTION,UNDERSTAND,GET_IN,SEE,DO,BUY,EAT,DRINK,SLEEP,STAY_SAFE,GO_NEXT
1,Royan,France,Royan is a port city and seaside resort in Cha...,View of the harbour and the modernist church N...,NaN,NaN,NaN,The four main shopping streets are Avenue Gamb...,NaN,Most discos in the region are in neighbouring ...,NaN,NaN,NaN
2,Northern Sindh,Pakistan,Northern Sindh is the northern part of the Sin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Southern Sindh,Pakistan,Southern Sindh is the southern part of the Sin...,NaN,Jinnah International Airport (),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tolú,South America,Tolú is a small town in Costa Norte region of ...,The fishing town has now become a popular week...,At the east end of Tolú there are with Brasil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#get only introduction and understan
introduction_df = df[['NAME', 'CONTINENT','INTRODUCTION', 'UNDERSTAND']]
introduction_df.head()

,NAME,CONTINENT,INTRODUCTION,UNDERSTAND
0,NAME,CONTINENT,INTRODUCTION,UNDERSTAND
1,Royan,France,Royan is a port city and seaside resort in Cha...,View of the harbour and the modernist church N...
2,Northern Sindh,Pakistan,Northern Sindh is the northern part of the Sin...,NaN
3,Southern Sindh,Pakistan,Southern Sindh is the southern part of the Sin...,NaN
4,Tolú,South America,Tolú is a small town in Costa Norte region of ...,The fishing town has now become a popular week...

In [16]:
columns_to_merge = ['INTRODUCTION', 'UNDERSTAND']
introduction_df.loc[:, 'INFORMATION'] = introduction_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)
introduction_df = introduction_df.iloc[1:]
introduction_df = introduction_df.drop(columns=columns_to_merge)
introduction_df.replace('', pd.NA, inplace=True)
introduction_df = introduction_df.dropna().reset_index(drop=True)
introduction_df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22224\1960825412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  introduction_df.loc[:, 'INFORMATION'] = introduction_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)

,NAME,CONTINENT,INFORMATION
0,Royan,France,Royan is a port city and seaside resort in Cha...
1,Northern Sindh,Pakistan,Northern Sindh is the northern part of the Sin...
2,Southern Sindh,Pakistan,Southern Sindh is the southern part of the Sin...
3,Tolú,South America,Tolú is a small town in Costa Norte region of ...
4,Weerribben-Wieden National Park,Overijssel,Weerribben-Wieden is a national park in the Ea...
...,...,...,...
23643,Peine,Germany,Old City Hall on market squarePeine is a town ...
23644,Batticaloa,Eastern Province (Sri Lanka),Batticaloa Clock TowerBatticaloa (Tamil: மட்டக...
23645,Nampho,North Korea,Nampho (남포) is in South Pyongan province in No...
23646,Mungkid,Indonesia,"Blabak Market, also known as Mungkid MarketMun..."
23647,Saguenay,Quebec,"Saguenay is a city of 145,000 (2021) in the Sa..."

In [17]:
see_do_buy_df = df[['NAME','SEE','DO','BUY']]
columns_to_merge = ['SEE','DO','BUY']
see_do_buy_df.loc[:, 'SEE_DO_BUY'] = see_do_buy_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)
see_do_buy_df = see_do_buy_df.iloc[1:]
see_do_buy_df = see_do_buy_df.drop(columns=columns_to_merge)
see_do_buy_df.replace('', pd.NA, inplace=True)
see_do_buy_df = see_do_buy_df.dropna().reset_index(drop=True)
see_do_buy_df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22224\1346639525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  see_do_buy_df.loc[:, 'SEE_DO_BUY'] = see_do_buy_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)

                   NAME                                         SEE_DO_BUY
0                 Royan  The four main shopping streets are Avenue Gamb...
1              Kalbarri  The Natural Bridge.   Hutt Lagoon: even its ra...
2       Northern Punjab  The emergence of Modern Panjistani in North Pa...
3      Moscow/Outskirts                              Also see Gorkiy Park.
4                  Mark  Hiking and cycling along the many prepared tra...
...                 ...                                                ...
16432          Mariupol     Trolleybus and other buses in the Lenin Avenue
16433        Batticaloa  Batticaloa Fort seen from Northeast.   Battica...
16434            Nampho   Goguryeo Tombs, inscribed on the UNESCO World...
16435           Mungkid                           Visit the Blabak Market.
16436          Saguenay  Pyramide des Ha! Ha!. The main street of downt...

[16437 rows x 2 columns]

In [18]:
eat_drink_sleep_df = df[['NAME','EAT','DRINK','SLEEP']]
columns_to_merge = ['EAT','DRINK','SLEEP']
eat_drink_sleep_df.loc[:, 'EAT_DRINK_SLEEP'] = eat_drink_sleep_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)
eat_drink_sleep_df = eat_drink_sleep_df.iloc[1:]
eat_drink_sleep_df = eat_drink_sleep_df.drop(columns=columns_to_merge)
eat_drink_sleep_df.replace('', pd.NA, inplace=True)
eat_drink_sleep_df = eat_drink_sleep_df.dropna().reset_index(drop=True)
eat_drink_sleep_df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22224\247251173.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_drink_sleep_df.loc[:, 'EAT_DRINK_SLEEP'] = eat_drink_sleep_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)

,NAME,EAT_DRINK_SLEEP
0,Royan,Most discos in the region are in neighbouring ...
1,Weerribben-Wieden National Park,"There are many places to stay around the park,..."
2,Kalbarri,There are no cafes or food supplies within ...
3,Northern Punjab,The most common food to eat is biryani with a ...
4,Southern Punjab,"Mango, watermelon, sugarcane, oranges."
...,...,...
11875,Montague,Campgrounds and trailer parks in Montague (esp...
11876,Mariupol,"Local feature is the so-called ""Greek cuisine...."
11877,Batticaloa,"Prawn, crab curd and cashew nuts are famous in..."
11878,Nampho,The Ryonggang County area of the city is famed...
11879,Saguenay,"The region is known for two dishes. Tourtière,..."

In [ ]:
get_stay_go_df = df[['NAME','GET_IN','STAY_SAFE','GO_NEXT']]
get_stay_go_df = ['GET_IN','STAY_SAFE','GO_NEXT']
get_stay_go_df.loc[:, 'GET_STAY_GO'] = get_stay_go_df[columns_to_merge].apply(lambda row: '. '.join(row.dropna()), axis=1)
get_stay_go_df = get_stay_go_df.iloc[1:]
get_stay_go_df = get_stay_go_df.drop(columns=columns_to_merge)
get_stay_go_df.replace('', pd.NA, inplace=True)
get_stay_go_df = get_stay_go_df.dropna().reset_index(drop=True)
get_stay_go_df